@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

html {
    scroll-behavior: smooth;
}

.container {
    font-family: 'Open Sans', sans-serif;
    /*font-family: open-sans;*/
    /*font-family: sans-serif;*/
}

/*responsive mobile*/

.nav-btn {
    color: white;
    background-color: #080d1a;
    border: none;
    font-size: 1.8rem;
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    .navbar .nav-btn {
        display: inline-block;
        opacity: 1;
        visibility: visible;
    }

    .navbar .headers{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: #080d1a;
        transition: 1s;
        transform: translateY(-100%);
        /*overflow: hidden;*/
    }

    .navbar .responsive-nav {
        transform: none;
    }

    .headers .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .main-picture {
        width: 100vw;
        height: 85vh;
        background: url("../assets/mobile-main.jpg");
        background-size: 126%;
        background-repeat: no-repeat;
    }

    .main-picture span {
        font-size: 22px;
    }

    .products-container {
        height: fit-content;
        /*width: 100%;*/
    }

    .products-container h1 {
        margin-top: 40px;
    }

    .products {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wires {
        margin-bottom: 40px;
    }

    .production-container {
        height: fit-content;
    }

    .production-container h1 {
        margin-top: 15px;
        margin-bottom: 25px;
        letter-spacing: 2px;
    }

    .production {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .prodtype {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .prodtype img {
        width: 90vw;
    }

    .prodtype span {
        margin-top: 10px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }

}
