@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

html {
    scroll-behavior: smooth;
}

.container {
    font-family: 'Open Sans', sans-serif;
    /*font-family: open-sans;*/
    /*font-family: sans-serif;*/
}

.navbar {
    width: 100vw;
    height: 85px;
    background-color: #080d1a;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*box-shadow: 0 0 20px 20px #080d1a;*/
}

.navbar a {
    text-decoration: none;
}

.navbar a span {
    color: white;
    padding: 0 15px;
    font-size: 17px;
    transition: color 0.25s,text-shadow 0.25s;
    cursor: pointer;
}

.navbar a span:hover {
    color: aqua;
    text-shadow: 0 0 10px midnightblue, 0 0 20px midnightblue, 0 0 30px midnightblue, 0 0 40px aqua, 0 0 50px aqua, 0 0 60px aqua, 0 0 70px aqua;
}

.navbar img {
    height: 100%;
}

.main-picture {
    width: 100vw;
    height: 90vh;
    display: flex;
    /*text-align: center;*/
    align-items: center;
    flex-direction: column;
    /*justify-content: center;*/
    background:linear-gradient(
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0)
    ), url("../assets/главная картинка.jpg");
    background-size: 100%;
    /*box-shadow: inset 10px 4px 2px -4px red;*/
    /*backdrop-filter: blur(10px);*/
    /*border: 2px solid red;*/
    /*box-shadow: inset 0px 40px 30px -30px red*/
}

.main-picture div {
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    /*border: 1px solid red;*/
    /*margin: 0;*/
}

.btn-div {
    /*display: inline-block;*/
    /*margin-top: 100px;*/
}

.text-div {
    margin-top: 285px;
}

.btn-div button {
    /*display: inline-block;*/
    width: 160px;
    height: 58px;
    border-radius: 6px;
    border: none;
    color: black;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 85px;
    transition: all 0.2s;
    cursor: pointer;
    /*padding-top: 100px;*/
    /*margin: auto;*/
}

.btn-div button:hover {
    border: 2px solid white;
    color: white;
    background-color: rgb(255, 255, 255, 0.25);
}


.main-picture span {
    color: white;
    letter-spacing: 4px;
}

.products-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    background-color: #080d1a;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 40px 40px 125px #080d1a;

}

.products-container h1 {
    color: white;
    letter-spacing: 4px;
    margin-top: -10px;
    margin-bottom: 35px;
    font-size: 36px;
}

.products {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wires {
    display: flex;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
    align-items: center;
    width: 30%;
}

.wires img {
    /*height: 50%;*/
    width: 300px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.wires span:not(.span-header) {
    color: white;
    font-size: 20px;
    color: gray;
}

.span-header {
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.production-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 125vh;
    background-color: #080d1a;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/
}

.production-container h1 {
    color: white;
    margin-top: 50px;
    /*margin-bottom: -10px;*/
    letter-spacing: 4px;
    font-size: 36px;
    /*border: 1px solid yellow;*/
}

.production {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    grid-gap: 0;
    grid-auto-rows: minmax(100px, auto);
    /*border: 1px solid green;*/
}

.prodtype {
    display: flex;
    flex-direction: column;
    /*border: 1px solid deeppink;*/
    justify-content: space-evenly;
    align-items: center;
}

.prodtype img {
    width: 450px;
    border-radius: 6px;
    /*margin: 0;*/
    /*margin: auto;*/
}

.prodtype span {
    /*margin-top: 20px;*/
    color: white;
    font-size: 28px;
    /*margin: 0;*/
    /*font-weight: bold;*/
    /*margin-bottom: -px;*/
}

.certificate-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080d1a;
}

.certificate {
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certificate h1 {
    font-size: 36px;
}

.certificate p {
    font-size: 20px;
}

.certificate p,
.certificate h1 {
    color: white;
}

.certificate a {
    margin-top: 15px;
    width: 300px;
    margin-bottom: 30px;
}

.certificate a img {
    width: 100%;
}

.video-container {
    display: flex;
    height: 90vh;
    background-color: #080d1a;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.map-container {
    display: flex;
    height: 50vh;
    background-color: #080d1a;
    border: 40px solid #080d1a;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #080d1a;
}

.contacts-container h1 {
    color: white;
    font-size: 36px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 75px;
}

.contact {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact h2 {
    color: white;
    font-size: 30px;
}

.contact span {
    font-size: 20px;
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}

.copyright {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 16px;
    /*font-weight: bold;*/
    /*text-align: center;*/
}
